*{
    margin: 0;
    padding: 0;
    font-family: Brandon bld, sans-serif;
    color: #fbf8be
}
body{
    background-color: #244e70;
    max-height: 100vh;
}
/* NAV BAR */
#parent-nav{
    position: fixed;
    top: 0;
    width: 100%;

}
nav{
    display: flex;
    justify-content: end;
    background-color: #fbf8be;
  
}
.navs a{
    color:#244e70;
    padding: 3px;
    text-decoration: none;
    font-weight:bolder;
    text-transform: uppercase;
}
.navs{
    padding: 40px;
}
.navs:hover{
    background-color: #244e70;
    transition-duration: 0.3s;
}
.navs:hover a{
    color: #fbf8be;
}


/* Intro Section */
.intro{
    display: flex;
    margin-top: 216px;
    margin-bottom: 50px;
}
#surf{
    width: 70%;
    margin-left: 40px;
    margin-right: 40px;
}
.image-div{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 60px;
}
.content-div{
    clear:both;

    flex: 1;
}
.content-div-child p{
    width: 50%;
}
.content-div h5{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 40px;

}
.content-div h1{
    margin-bottom: 40px;
    letter-spacing: 3px;
    font-size: 40px;
}
.content-div p{
    clear:both;
    width: 90%;
    line-height: 30px;
    font-size: larger;
}

/* WORKS */

.works{
    background-color: #fbf8be;
}
.cards{
    margin-top: 20px;
    margin-bottom: 70px;
    display:flex;
    flex-wrap: wrap;
}
.card1{
    color: #244e70;
    margin: 50px;
}
.card2{
    color: #244e70;

}
.card3{
    color: #244e70;

}
.card4{
    color: #244e70;

}
.card1 div img{
    width: 40%;
}
.card2 div img{
    width: 20%;
}
.card3 div img{
    width: 20%;
}
.card4 div img{
    width: 20%;
}
.cards p{
    color: #244e70;
}
.flex-card{
    display: flex;
}


















@media (max-width: 768px){
    nav{
        flex-direction: column;

    }
    .navs{

        width: 100%;
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .intro{
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
    }
    .image-div img{
        width:50%;
    }
    .content-div h5{
        text-align: center;
    }
    .content-div h1{
        float:none;
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }
    .content-div p{
        clear:both;
        width: 100%;
        text-align: left;
        padding-left: 5%;
        padding-right: 5%;
    }
    

